.streamscreen{
  max-width: 88vw;
  min-width: 65vw;
  background-color:transparent;
  background-color:var(--gm-caption-color);
  border-radius:4px;

  position: relative;
  left: 50%;
  top: 2vh;
  transform: translateX(-50%);

  .vid{
    // object-fit: contain;
    // object-fit: cover;
    // width:100% !important;
    border-radius: 8px;
    // height:100% !important;


    width: 100%    !important;
    height: auto   !important;
    aspect-ratio:16 / 9;
  }
}