@mixin center {
  display: flex;
  // justify-content: center;
  align-items: center;
}

@mixin center-cn {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin buttn {
  cursor: pointer;
  border: none;
  outline: none;
  &:focus {
    outline: none;
  }
}

.home {
  padding: 1rem 1.25rem;

  height: 100vh;

  background-color: #fff;
  position: relative;

  &__header {
    max-height: 3rem;
    // background-color:chartreuse;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &--logo {
      // background-color: aqua;

      display: flex;
      align-items: center;
      gap: 10px;

      &.home-logo {
        height: 100%;
        img {
          flex: 1;
        }

        span:first-of-type {
          flex: 2.5;
        }
        span:last-of-type {
          flex: 1;
        }
      }
      &__img {
        // background-color: red;
        width: 3rem;
        height: 3rem;
        object-fit: cover;
      }

      &__title {
        align-self: center;
        white-space: nowrap;
        font-size: 1rem;
        font-weight: 500;
        color: var(--gm-caption-color);
        pointer-events: none;
      }

      &__text {
        align-self: center;
        white-space: pre;
        font-size: 1rem;
        margin-left: -4px;
        color: var(--gm-caption-color);

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    &--utilities {
      justify-self: end;
      align-self: center;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .time-date {
        align-self: center;

        display: flex;
        justify-content: space-between;
        align-items: center;

        pointer-events: none;
        padding-inline: 1rem;
        color: var(--gm-caption-color);
        font-weight: 400;
        font-size: 1.12rem;

        span {
          display: inline-block;
        }

        .dot {
          vertical-align: center;
          margin: 4px;
          font-size: 1.5rem;
          font-style: bold;
          font-weight: 600;
        }
      }

      .buttons {
        display: grid;
        grid-template-columns: repeat(3, minmax(2.5rem, 3rem)) 1fr;
        grid-template-rows: min-content;

        .MuiSvgIcon-root {
          fill: var(--gm-caption-color);
          color: var(--gm-caption-color);
        }

        .account {
          padding-left: 8px;
          display: flex;
        }
        .tooltip-code {
          text-align: left;
          background: rgba(60, 64, 67, 0.9);
          -webkit-border-radius: 4px;
          border-radius: 4px;
          color: #fff;
          font: 500 12px "Roboto", arial, sans-serif;
          letter-spacing: 0.8px;
          line-height: 16px;
          margin-top: 4px;
          min-height: 14px;
          padding: 4px 8px;
          position: absolute;
          z-index: 1000;
          -webkit-font-smoothing: antialiased;

          p {
            color: #bdc1c6;
            line-height: 16px;
          }
        }

        .btn {
          @include buttn();
          display: flex;
          // flex-direction: column;
          justify-content: center;
          align-items: center;
          border: none;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          width: 2.5rem;
          height: 2.5rem;
          margin: 10px;
          background-color: transparent;
          // background-color: var(--gm-body-text-color);
          &:focus {
            outline: none;
          }

          // &.off {
          //   background-color: var(--gm-disable-color);
          //   .MuiSvgIcon-root,
          //   svg {
          //     fill: #fff;
          //   }
          // }
          svg {
            width: 1.5rem;
            height: 1.5rem;
            fill: var(--gm-caption-color);
          }
        }
      }
    }
  }

  &__main {
    position: relative;
    margin-top: .8rem;
    height: 85%;

    padding-inline: 1rem;


    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 2rem;
    // flex-wrap: wrap;


    background-color: #fff;
    // background-color: cornflowerblue;



    &--left {
      // background-color: #212121;
      padding-top: 32px;
      padding-inline: 10px;
      flex: 1;
      // max-width: 45vw;
      // flex-shrink: 200;

      &__title {
        font-family: "Google Sans Display", Roboto, Arial, sans-serif;

        font-size: 2.75rem;
        font-weight: 400;

        letter-spacing: 0;
        line-height: 3.5rem;

        padding-bottom: 24px + (16 / 2);

        color: rgba(0, 0, 0, 0.87);
        text-align: left;

        max-width: 35rem;
      }
      &__sub {
        font-family: "Google Sans", Roboto, Arial, sans-serif;

        font-size: 1.125rem;

        font-weight: 400;
        letter-spacing: 0;

        line-height: 1.5rem;

        color: var(--gm-color-caption, #5f6368);

        max-width: 30rem;
        padding-bottom: 3em;
      }

      &__cta {
        position: relative;
        display: flex;
        // justify-content: space-evenly;
        gap: 8px;
        height: 2.5rem;

        // justify-content: space-between;
        align-items: center;

        .btn {
          &-create {
            @include buttn;
            cursor: pointer;
            background-color: var(--gm-theme-color);
            color: #fff;
            border-radius: 2px;
            padding: 5px;
            width: 9rem;
            height: 100%;
            display: flex;
            gap: 5px;
            align-items: center;
            font-size: 1rem;
          }

          &-join {
            @include buttn();
            width: 5rem;
            height: 100%;
            border-radius: 2px;
            font-size: 1.1rem;
            background-color: transparent;
            // display: none;
            opacity: 0;

            // transform: translateX(5px);

            &:hover {
              background-color: var(--gm-theme-color);
            }
          }
        }

        .link-input {
          padding-inline: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #fff;
          width: 16rem;
          height: 100%;
          margin-left: 10px;
          border-radius: 4px;
          border: 1px solid #212121;

          &:focus-within {
            // border-color: var(--gm-theme-color);
            border: 1.5px solid var(--gm-theme-color);
            // outline: var(--gm-theme-color);
          }

          &:focus-within + .btn-join {
            opacity: 0.6;
          }

          .MuiSvgIcon-root {
            width: 10%;
            // flex-basis: 2rem;
            color: var(--gm-caption-color);
          }

          input {
            // flex: auto;
            margin-left: 4px;
            width: 90%;
            outline: none;
            border: none;
            padding-inline: 4px;
          }
        }
      }
    }

    &--right {
      flex:1;
      // background-color: coral;
      // height: 100%;
      // max-width: 45vw;
      // padding-top: 32px;
      padding-inline: 10px;
    }


  }
}

.create-meet {
  height: 8rem;
  width: 18rem;
  padding-block: 6px;
  padding-inline: 8px;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 15;
  color: #212121;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
  background-color: #fff;
  color: #000;

  li {
    height: 3rem;
    width: 100%;
    padding-inline: 4px;
    display: flex;
    gap: 6px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    list-style: none;
    border-radius: 4px;
    span {
      text-align: left;
    }

    &:hover {
      background-color: #bdc1c6;
    }

    &.disabled {
      opacity: 0.2;
      cursor: not-allowed;
    }
  }
}

.link-modal {
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 20rem;
  height: 10rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
  color: #000;

  display: flex;
  flex-direction: column;
  gap: 2.5px;

  .link-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    span {
      height: 100%;
    }

    .close {
      cursor: pointer;
      margin-inline: 5px;
      align-self: flex-end;
    }
  }

  p {
    color: var(--gm-caption-color);
    font-size: 0.8rem;
  }

  .link {
    height: 100%;
    border-radius: 4px;
    width: 80%;
    margin-left: 1rem;
    background-color: var(--gm-neutral-outline-color);
    color: #fff;
  }

  .copy {
    @include center-cn;
    width: 2.5rem;
    height: 2.5rem;
    padding: 3px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--gm-neutral-outline-color);
  }
  .link-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
