.home{
  padding: 1rem 1.5rem;

  height: 100vh;

  background-color: darkorchid;

  &__header{
    max-height: 3.5rem;
    background-color: #fff;

    &--logo{
      width: 16rem;
      height: 100%;
      background-color: aqua;
      display: grid;
      column-gap: 4px;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(1,1fr);
      // grid-template-areas: 'logoimg' 'title' 'title' ;

      &__img{
        grid-area: 'logoimg';
        background-color: red;
        width: 3.5rem;
        height: 3.5rem;
        object-fit: cover;

        
      }
      
      &__title{
        align-self: center;
        white-space: pre;
        grid-area: 'title';
        font-size: 1rem;
      }
    }
  }
}